Repository point-click-engine/engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @point-click-engine/maintainers, @point-click-engine/core-team, @point-click-engine/graphics-team, @point-click-engine/gameplay-team, @point-click-engine/docs-team, @point-click-engine/devops-team

claude code codes
  MODULAR_REFACTOR_SUMMARY.md
  example/assets/background.jpg
  example/assets/background.png
  example/assets/key.png
  example/assets/pointer.png
  example/background.png
  example/example.cr
  example/key.png
  example/modular_example.cr
  example/pointer.png
  example/scripting_example.cr
  example/scripts/example_character.lua
  src/characters/scriptable_character.cr
  src/core/engine.cr
  src/point_click_engine.cr
  src/scripting/event_system.cr
  src/scripting/script_engine.cr
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers, @point-click-engine/gameplay-team, @point-click-engine/core-team

All specs and example fixed
  LUAJIT_FIX.md
  example/SCRIPTING.md
  example/example.cr
  example/modular_example.cr
  example/scripting_example.cr
  spec/core_lua_spec.cr
  spec/spec_helper.cr
  src/characters/ai/behavior.cr
  src/characters/character.cr
  src/characters/dialogue/character_dialogue.cr
  src/characters/scriptable_character.cr
  src/core/engine.cr
  src/core/game_object.cr
  src/graphics/particles.cr
  src/inventory/inventory_system.cr
  src/point_click_engine.cr
  src/scenes/hotspot.cr
  src/scripting/event_system.cr
  src/scripting/script_engine.cr
  src/ui/dialog.cr
  src/utils/yaml_converters.cr
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers, @point-click-engine/gameplay-team, @point-click-engine/core-team, @point-click-engine/graphics-team

crystal format
  example/example.cr
  example/modular_example.cr
  example/scripting_example.cr
  spec/characters_spec.cr
  spec/core_lua_spec.cr
  spec/graphics_spec.cr
  spec/point_click_engine_spec.cr
  spec/scenes_spec.cr
  spec/spec_helper.cr
  src/characters.cr
  src/characters/ai/behavior.cr
  src/characters/character.cr
  src/characters/dialogue/character_dialogue.cr
  src/characters/npc.cr
  src/characters/player.cr
  src/characters/scriptable_character.cr
  src/core.cr
  src/core/engine.cr
  src/core/game_object.cr
  src/graphics.cr
  src/graphics/animated_sprite.cr
  src/graphics/display_manager.cr
  src/graphics/particles.cr
  src/inventory.cr
  src/inventory/inventory_item.cr
  src/inventory/inventory_system.cr
  src/point_click_engine.cr
  src/scenes.cr
  src/scenes/hotspot.cr
  src/scenes/scene.cr
  src/scripting/event_system.cr
  src/scripting/script_engine.cr
  src/ui.cr
  src/ui/dialog.cr
  src/utils/yaml_converters.cr
Owners: @point-click-engine/maintainers, @point-click-engine/gameplay-team, @point-click-engine/core-team, @point-click-engine/graphics-team

audio
  ADVENTURE_FEATURES.md
  example/assets/walking-sprite-sheets.png
  example/dialog_trees/wizard_dialog.yml
  example/enhanced_example.cr
  spec/character_animation_spec.cr
  spec/dialog_tree_spec.cr
  spec/inventory_system_spec.cr
  src/audio.cr
  src/audio/sound_system.cr
  src/characters/dialogue/dialog_tree.cr
  src/core/save_system.cr
  src/inventory/inventory_item.cr
  src/inventory/inventory_system.cr
  src/point_click_engine.cr
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers, @point-click-engine/gameplay-team, @point-click-engine/core-team

format
  example/enhanced_example.cr
  spec/character_animation_spec.cr
  spec/dialog_tree_spec.cr
  spec/inventory_system_spec.cr
  src/audio.cr
  src/audio/sound_system.cr
  src/characters/dialogue/dialog_tree.cr
  src/core/save_system.cr
  src/inventory/inventory_system.cr
Owners: @point-click-engine/maintainers, @point-click-engine/gameplay-team, @point-click-engine/core-team

archive
  example/archive_example.cr
  scripting_example
  spec/archive_integration_spec.cr
  spec/asset_loader_spec.cr
  spec/asset_manager_spec.cr
  src/assets/asset_loader.cr
  src/assets/asset_manager.cr
  src/characters/dialogue/dialog_tree.cr
  src/characters/scriptable_character.cr
  src/core/engine.cr
  src/graphics/animated_sprite.cr
  src/inventory/inventory_item.cr
  src/point_click_engine.cr
  src/scenes/scene.cr
  src/scripting/script_engine.cr
Owners: @point-click-engine/maintainers, @point-click-engine/gameplay-team, @point-click-engine/core-team, @point-click-engine/graphics-team

Update yaml_converters.cr
  spec/yaml_converters_spec.cr
  src/utils/yaml_converters.cr
Owners: @point-click-engine/maintainers

format
  example/archive_example.cr
  spec/archive_integration_spec.cr
  spec/asset_loader_spec.cr
  spec/asset_manager_spec.cr
  spec/yaml_converters_spec.cr
  src/assets/asset_loader.cr
  src/assets/asset_manager.cr
  src/point_click_engine.cr
Owners: @point-click-engine/maintainers, @point-click-engine/core-team

Update ci.yml
  .github/workflows/ci.yml
Owners: @point-click-engine/devops-team

yaml fixes
  src/core/game_object.cr
  src/scenes/hotspot.cr
  src/scenes/scene.cr
  src/utils/yaml_converters.cr
Owners: @point-click-engine/core-team, @point-click-engine/maintainers

fix ci ?
  .github/workflows/ci.yml
Owners: @point-click-engine/devops-team

wip
  TEST_IMPLEMENTATION_SUMMARY.md
  achievements.yaml
  assets/backgrounds/garden.png
  assets/backgrounds/laboratory.png
  assets/backgrounds/library.png
  create_test_backgrounds.cr
  crystal_mystery/main.cr
  crystal_mystery_game
  download_backgrounds.sh
  run_headless_tests.sh
  spec/asset_loader_spec.cr
  spec/characters/player_spec.cr
  spec/core/game_object_spec.cr
  spec/integration/crystal_mystery_diagnostic_spec.cr
  spec/integration/crystal_mystery_final_verification_spec.cr
  spec/integration/crystal_mystery_gameplay_spec.cr
  spec/integration/crystal_mystery_headless_spec.cr
  spec/integration/crystal_mystery_static_analysis_spec.cr
  spec/integration/crystal_mystery_visibility_spec.cr
  spec/integration/crystal_mystery_visual_playthrough_spec.cr
  spec/integration/simple_headless_test_spec.cr
  spec/scenes/hotspot_spec.cr
  spec/scenes/scene_spec.cr
  spec/scripting/script_engine_spec.cr
  spec/spec_helper.cr
  spec/support/raylib_mock.cr
  src/audio/sound_system.cr
  src/characters/player.cr
  src/core/engine.cr
  src/core/game_object.cr
  src/core/save_system.cr
  src/inventory/inventory_system.cr
  src/ui/gui_manager.cr
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers, @point-click-engine/gameplay-team, @point-click-engine/core-team

working game
  crystal_mystery/main.cr
  crystal_mystery/scenes/laboratory.yaml
  crystal_mystery/scenes/library.yaml
  src/audio/sound_system.cr
  src/core/engine.cr
  src/inventory/inventory_system.cr
  src/scenes/scene.cr
  src/scenes/scene_loader.cr
Owners: @point-click-engine/maintainers, @point-click-engine/core-team

wip
  .gitignore
  assets/backgrounds/garden.png
  assets/backgrounds/laboratory.png
  assets/backgrounds/library.png
  crystal_mystery/assets/backgrounds/garden.png
  crystal_mystery/assets/backgrounds/laboratory.png
  crystal_mystery/assets/backgrounds/library.png
  crystal_mystery/assets/items/brass_key.png
  crystal_mystery/assets/items/crystal.png
  crystal_mystery/assets/music/garden_theme.ogg
  crystal_mystery/assets/music/main_theme.ogg
  crystal_mystery/main.cr
  spec/characters/enhanced_animation_spec.cr
  src/characters/enhanced_animation.cr
Owners: @point-click-engine/maintainers, @point-click-engine/gameplay-team

running
  crystal_mystery/main.cr
  src/audio/ambient_sound_manager.cr
  src/audio/footstep_system.cr
  src/audio/sound_system.cr
  src/characters/ai/behavior.cr
  src/characters/animation.cr
  src/characters/character.cr
  src/characters/dialogue/character_dialogue.cr
  src/characters/dialogue/dialog_tree.cr
  src/characters/npc.cr
  src/characters/player.cr
  src/core/engine.cr
  src/core/engine/input_handler.cr
  src/core/engine/render_coordinator.cr
  src/core/engine/system_manager.cr
  src/cutscenes/cutscene_camera.cr
  src/graphics/animated_sprite.cr
  src/graphics/display_manager.cr
  src/graphics/particles.cr
  src/graphics/transitions/effects/basic_effects.cr
  src/graphics/transitions/effects/geometric_effects.cr
  src/graphics/transitions/shader_loader.cr
  src/graphics/transitions/transition_effect.cr
  src/graphics/transitions/transition_manager.cr
  src/inventory/inventory_item.cr
  src/inventory/inventory_system.cr
  src/point_click_engine.cr
  src/scenes/exit_zone.cr
  src/scenes/hotspot.cr
  src/scenes/polygon_hotspot.cr
  src/scenes/scene.cr
  src/scenes/walkable_area.cr
  src/ui/cursor_manager.cr
  src/ui/dialog.cr
  src/ui/dialog_portrait.cr
  src/ui/floating_dialog.cr
  src/ui/gui_manager.cr
  src/ui/status_bar.cr
  src/ui/ui_manager.cr
  src/ui/verb_coin.cr
Owners: @point-click-engine/maintainers, @point-click-engine/gameplay-team, @point-click-engine/core-team, @point-click-engine/graphics-team

format
  src/audio/sound_system.cr
  src/core/engine.cr
  src/graphics/transitions/transition_effect.cr
  src/ui/floating_dialog.cr
  src/ui/gui_manager.cr
Owners: @point-click-engine/maintainers, @point-click-engine/core-team, @point-click-engine/graphics-team

fixes
  achievements.yaml
  crystal_mystery/main.cr
  run_crystal_mystery.sh
  src/characters/character.cr
  src/graphics/transitions/effects/geometric_effects.cr
  src/graphics/transitions/shader_loader.cr
  src/graphics/transitions/transition_manager.cr
  src/ui/dialog_manager.cr
  src/ui/floating_dialog.cr
  src/ui/floating_text.cr
Owners: @point-click-engine/maintainers, @point-click-engine/gameplay-team, @point-click-engine/graphics-team

specs ok
  crystal_mystery/main.cr
  spec/core/engine/render_coordinator_spec.cr
  spec/core/engine/verb_input_system_spec.cr
  spec/core/engine_integration_spec.cr
  spec/ui/dialog_manager_spec.cr
  spec/ui/menu_system_spec.cr
  src/core/engine.cr
  src/core/engine/input_handler.cr
  src/core/engine/render_coordinator.cr
  src/core/engine/system_manager.cr
  src/core/engine/verb_input_system.cr
  src/cutscenes/cutscene_manager.cr
  src/scenes/exit_zone.cr
  src/scripting/event_system.cr
  src/spec/spec_helper.cr
  src/spec/ui/menu_system_spec.cr
  src/ui/dialog_manager.cr
  src/ui/menu_system.cr
Owners: @point-click-engine/maintainers, @point-click-engine/core-team

working state
  crystal_mystery/main.cr
  crystal_mystery/scenes/garden.yaml
  crystal_mystery/scenes/laboratory.yaml
  crystal_mystery/scenes/library.yaml
  src/core/engine.cr
  src/core/engine/render_coordinator.cr
  src/core/engine/verb_input_system.cr
  src/graphics/display_manager.cr
  src/ui/menu_system.cr
  test_hotspots.cr
  test_scene.yaml
Owners: @point-click-engine/maintainers, @point-click-engine/core-team, @point-click-engine/graphics-team

wip
  .gitignore
  assets/backgrounds/garden.png
  assets/backgrounds/library.png
  crystal_mystery/main.cr
  spec/core/engine/render_coordinator_spec.cr
  spec/core/engine/verb_input_system_spec.cr
  spec/core/engine_integration_spec.cr
  spec/ui/dialog_manager_spec.cr
  spec/ui/menu_system_spec.cr
  src/core/config_manager.cr
  src/core/engine.cr
  src/core/engine/render_coordinator.cr
  src/core/engine/system_manager.cr
  src/core/engine/verb_input_system.cr
  src/core/game_object.cr
  src/cutscenes/cutscene_manager.cr
  src/graphics/animated_sprite.cr
  src/graphics/display_manager.cr
  src/scenes/exit_zone.cr
  src/scripting/event_system.cr
  src/ui/cursor_manager.cr
  src/ui/dialog_manager.cr
  src/ui/menu_system.cr
  test_hotspots.cr
Owners: @point-click-engine/maintainers, @point-click-engine/core-team, @point-click-engine/graphics-team

not working
  crystal_mystery/main.cr
  crystal_mystery/scenes/garden.yaml
  crystal_mystery/scenes/laboratory.yaml
  spec/core/engine/auto_save_spec.cr
  spec/core/engine/fps_display_spec.cr
  spec/core/engine/game_state_integration_spec.cr
  spec/core/engine_integration_spec.cr
  spec/core/game_config_spec.cr
  spec/core/game_object_spec.cr
  spec/examples/minimal_game_spec.cr
  spec/scenes/yaml_scene_loading_spec.cr
  spec/ui/dialog_manager_spec.cr
  src/core/config_manager.cr
  src/core/engine.cr
  src/core/engine/game_builder.cr
  src/core/engine/verb_input_system.cr
  src/core/game_config.cr
  src/scenes/exit_zone.cr
  src/scenes/scene.cr
  src/ui/cursor_manager.cr
  src/ui/floating_dialog.cr
  src/ui/menu_system.cr
  templates/minimal_game.cr
Owners: @point-click-engine/maintainers, @point-click-engine/core-team

Update main.cr
  crystal_mystery/main.cr
Owners: @point-click-engine/maintainers

scene scrolling
  README.md
  crystal_mystery/dialogs/butler_dialog.yaml
  docs/GAME_FORMAT_SCHEMA.md
  docs/GAME_FORMAT_SPECIFICATION.md
  docs/QUICK_REFERENCE.md
  docs/README.md
  spec/graphics/camera_spec.cr
  spec/integration/player_visibility_test_spec.cr
  src/characters/npc.cr
  src/core/engine.cr
  src/core/engine/input_handler.cr
  src/core/engine/render_coordinator.cr
  src/core/engine/verb_input_system.cr
  src/core/game_config.cr
  src/graphics/camera.cr
  src/graphics/render_context.cr
  src/scenes/scene.cr
  src/ui/dialog_manager.cr
  test_config.cr
  test_game.cr
  test_scrolling.cr
  test_scrolling_complete.cr
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers, @point-click-engine/gameplay-team, @point-click-engine/core-team, @point-click-engine/graphics-team

format
  crystal_mystery/main.cr
  crystal_mystery/scenes/library.yaml
  spec/graphics/camera_spec.cr
  src/characters/npc.cr
  src/graphics/render_context.cr
  test_config.cr
  test_game.cr
  test_scrolling.cr
  test_scrolling_complete.cr
Owners: @point-click-engine/maintainers, @point-click-engine/gameplay-team, @point-click-engine/graphics-team

validations
  crystal_mystery/main.cr
  docs/validation_system.md
  spec/core/error_reporter_simple_spec.cr
  spec/core/error_reporter_spec.cr
  spec/core/exceptions_spec.cr
  spec/core/preflight_check_spec.cr
  spec/core/validation_integration_spec.cr
  spec/core/validation_summary_spec.cr
  spec/core/validators/asset_validator_spec.cr
  spec/core/validators/config_validator_spec.cr
  spec/core/validators/scene_validator_spec.cr
  src/assets/asset_manager.cr
  src/core/error_reporter.cr
  src/core/exceptions.cr
  src/core/game_config.cr
  src/core/preflight_check.cr
  src/core/validators/asset_validator.cr
  src/core/validators/config_validator.cr
  src/core/validators/scene_validator.cr
  src/point_click_engine.cr
  src/scenes/scene_loader.cr
Owners: @point-click-engine/maintainers, @point-click-engine/docs-team, @point-click-engine/core-team

validators
  crystal_mystery/main.cr
  crystal_mystery/scenes/garden.yaml
  crystal_mystery/scenes/laboratory.yaml
  crystal_mystery/scenes/library.yaml
  run_crystal_mystery.sh
  spec/core/error_reporter_simple_spec.cr
  spec/core/error_reporter_spec.cr
  spec/core/exceptions_spec.cr
  spec/core/preflight_check_spec.cr
  spec/core/validation_integration_spec.cr
  spec/core/validation_summary_spec.cr
  spec/core/validators/asset_validator_spec.cr
  spec/core/validators/config_validator_spec.cr
  spec/core/validators/scene_validator_spec.cr
  src/core/error_reporter.cr
  src/core/exceptions.cr
  src/core/game_config.cr
  src/core/preflight_check.cr
  src/core/validators/asset_validator.cr
  src/core/validators/config_validator.cr
  src/core/validators/scene_validator.cr
  src/scenes/scene_loader.cr
Owners: @point-click-engine/maintainers, @point-click-engine/core-team

fixes and checks
  DEBUGGING_SUMMARY.md
  MOVEMENT_DEBUG_README.md
  Makefile
  analyze_movement_issues.cr
  comprehensive_movement_test.cr
  debug_clicks
  debug_clicks.cr
  simple_movement_test
  simple_movement_test.cr
  spec/core/preflight_check_spec.cr
  src/core/engine.cr
  src/core/preflight_check.cr
  src/scenes/scene.cr
  test_player_movement.cr
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers, @point-click-engine/core-team

working dialog node
  analyze_movement_issues.cr
  crystal_mystery/scenes/library.yaml
  debug_clicks.cr
  docs/dialog_input_handling.md
  simple_movement_test.cr
  spec/core/dialog_input_spec.cr
  spec/core/preflight_check_spec.cr
  spec/ui/cursor_manager_spec.cr
  spec/ui/tooltip_spec.cr
  src/characters/dialogue/dialog_tree.cr
  src/core/engine.cr
  src/core/engine/input_handler.cr
  src/core/engine/verb_input_system.cr
  src/core/game_config.cr
  src/core/input_state.cr
  src/core/preflight_check.cr
  src/scenes/scene.cr
  src/ui/cursor_manager.cr
  src/ui/dialog.cr
  src/ui/dialog_manager.cr
  src/ui/status_bar.cr
  test_player_movement.cr
Owners: @point-click-engine/maintainers, @point-click-engine/docs-team, @point-click-engine/gameplay-team, @point-click-engine/core-team

dialog working
  docs/dialog_tree_system.md
  spec/ui/dialog_tree_spec.cr
  src/characters/dialogue/dialog_tree.cr
  src/core/engine.cr
  src/core/engine/verb_input_system.cr
  src/ui/dialog.cr
  src/ui/dialog_manager.cr
  src/ui/dialog_presenter.cr
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers, @point-click-engine/gameplay-team, @point-click-engine/core-team

fixes
  crystal_mystery/scenes/laboratory.yaml
  crystal_mystery/scenes/library.yaml
  src/characters/character.cr
  src/characters/dialogue/dialog_tree.cr
  src/core/engine/verb_input_system.cr
  src/core/game_config.cr
  src/core/game_object.cr
  src/scenes/scene.cr
  src/scenes/scene_loader.cr
  src/ui/dialog_manager.cr
  test_dialog_fix.cr
Owners: @point-click-engine/maintainers, @point-click-engine/gameplay-team, @point-click-engine/core-team

format
  mini_game_main.cr
  spec/characters/movement_controller_spec.cr
  spec/core/dialog_input_spec.cr
  spec/core/error_handling_spec.cr
  spec/core/error_reporter_spec.cr
  spec/core/game_constants_spec.cr
  spec/core/input_manager_spec.cr
  spec/core/performance_monitor_spec.cr
  spec/core/render_manager_spec.cr
  spec/core/scene_manager_spec.cr
  spec/ui/dialog_tree_spec.cr
  spec/utils/vector_math_spec.cr
  src/characters/character.cr
  src/characters/movement_controller.cr
  src/core/dependency_container_simple.cr
  src/core/engine.cr
  src/core/error_handling.cr
  src/core/game_constants.cr
  src/core/input_manager.cr
  src/core/interfaces.cr
  src/core/scene_manager.cr
  src/core/simple_resource_manager.cr
  src/point_click_engine.cr
  src/utils/vector_math.cr
Owners: @point-click-engine/maintainers, @point-click-engine/gameplay-team, @point-click-engine/core-team

cleanup
  CLEANUP_COMPLETE.md
  DEBUGGING_SUMMARY.md
  MOVEMENT_DEBUG_README.md
  README.md
  REFACTORING_COMPLETE.md
  REFACTORING_PLAN.md
  REFACTORING_PROGRESS.md
  REFACTORING_PROGRESS_PHASE2.md
  REFACTORING_SUMMARY.md
  achievements.yaml
  docs/REFACTORING_SUMMARY.md
  invalid_config.yaml
  mini_game_main.cr
  missing_scene_config.yaml
  run.sh
  spec/core/dependency_container_spec.cr.old
  spec/core/engine_manager_integration_spec.cr
  spec/core/engine_render_integration_spec.cr
  spec/core/performance_monitor_spec.cr
  spec/scenes/yaml_scene_loading_spec.cr
  spec_runner
  src/audio/ambient_sound_manager.cr
  src/core/engine.cr
  temp_save.yaml
  temp_scene.yaml
  template_game.yaml
  test_config.yaml
  test_scene.yaml
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers, @point-click-engine/core-team

specs lots
  README.md
  achievements.yaml
  docs/BUG_DISCOVERY_PROCESS.md
  docs/COMPREHENSIVE_TESTING_STRATEGY.md
  missing_scene_config.yaml
  run.sh
  spec/audio/audio_system_spec.cr
  spec/character_pathfinding/character_pathfinding_spec.cr
  spec/fuzzing/config_fuzzing_spec.cr
  spec/integration/comprehensive_engine_spec.cr
  spec/integration/simple_engine_integration_spec.cr
  spec/memory/memory_leak_spec.cr
  spec/performance/performance_regression_spec.cr
  spec/property/engine_properties_spec.cr
  spec/quests/quest_edge_cases_spec.cr
  spec/saveload/save_system_spec.cr
  spec/scripting/lua_integration_spec.cr
  spec/stress/engine_stress_spec.cr
  temp_save.yaml
  temp_scene.yaml
  test_comprehensive.sh
  test_config.yaml
  test_simple_config.yaml
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers

fixes
  TODO_IMPLEMENTATION.md
  achievements.yaml
  crystal_mystery/main.cr
  spec/core/engine_dialog_spec.cr
  spec/core/engine_input_spec.cr
  spec/core/engine_integration_spec.cr
  spec/core/engine_render_integration_spec.cr
  spec/core/engine_save_load_spec.cr
  spec/core/engine_scene_management_spec.cr
  spec/scenes/hotspot_spec.cr
  spec/scenes/scene_spec.cr
  src/characters/animation.cr
  src/characters/character.cr
  src/characters/dialogue/dialog_tree.cr
  src/core/engine.cr
  src/core/engine/input_handler.cr
  src/core/render_manager.cr
  src/core/save_system.cr
  src/graphics/transitions/transition_manager.cr
  src/scenes/scene.cr
  src/scripting/script_engine.cr
  src/ui/menu_system.cr
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers, @point-click-engine/gameplay-team, @point-click-engine/core-team, @point-click-engine/graphics-team

new transitions
  achievements.yaml
  spec/core/engine_dialog_spec.cr
  spec/core/engine_scene_management_spec.cr
  spec/graphics/transitions_spec.cr
  src/graphics/transitions/effects/advanced_effects.cr
  src/graphics/transitions/effects/artistic_effects.cr
  src/graphics/transitions/effects/cinematic_effects.cr
  src/graphics/transitions/transition_effect.cr
  src/graphics/transitions/transition_manager.cr
Owners: @point-click-engine/maintainers, @point-click-engine/graphics-team

fixes
  spec/core/input_keyboard_shortcuts_spec.cr
  spec/core/renderer_registration_spec.cr
  spec/documentation/renderer_fixes_summary_spec.cr
  spec/integration/ui_fixes_integration_spec.cr
  src/core/engine.cr
  src/core/engine/render_coordinator.cr
  src/core/engine/verb_input_system.cr
  src/core/input_manager.cr
Owners: @point-click-engine/maintainers, @point-click-engine/core-team

fixes
  spec/documentation/renderer_fixes_summary_spec.cr
  src/core/engine.cr
  src/ui/dialog_manager.cr
  src/ui/floating_dialog.cr
Owners: @point-click-engine/maintainers, @point-click-engine/core-team

fixes
  ARCHITECTURAL_ISSUES.md
  crystal_mystery/scenes/garden.yaml
  crystal_mystery/scenes/laboratory.yaml
  crystal_mystery/scenes/library.yaml
  docs/user-guide/YAML_FORMATS.md
  spec/core/architectural_patterns_spec.cr
  spec/core/door_interaction_spec.cr
  spec/integration/coordinate_system_consistency_spec.cr
  spec/integration/render_system_integration_spec.cr
  src/core/engine.cr
  src/core/engine/verb_input_system.cr
  src/core/render_validation.cr
  src/core/validators/scene_validator.cr
  src/scenes/scene_loader.cr
  src/ui/dialog_portrait.cr
  src/ui/floating_dialog.cr
  src/ui/floating_text.cr
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers, @point-click-engine/core-team

fixes
  achievements.yaml
  crystal_mystery/scenes/garden.yaml
  crystal_mystery/scenes/laboratory.yaml
  crystal_mystery/scenes/library.yaml
  spec/core/door_interaction_spec.cr
  spec/core/validators/scene_validator_spec.cr
  spec/graphics/transition_manager_spec.cr
  spec/integration/door_transition_spec.cr
  spec/scenes/transition_spec.cr
  src/core/engine.cr
  src/core/engine/verb_input_system.cr
  src/core/render_manager.cr
  src/scenes/exit_zone.cr
  src/scenes/scene_loader.cr
Owners: @point-click-engine/maintainers, @point-click-engine/core-team

transition works
  achievements.yaml
  crystal_mystery/scenes/garden.yaml
  crystal_mystery/scenes/laboratory.yaml
  crystal_mystery/scenes/library.yaml
  docs/user-guide/YAML_FORMATS.md
  spec/core/door_interaction_spec.cr
  spec/core/engine/verb_input_system_spec.cr
  spec/core/engine_integration_spec.cr
  spec/integration/door_transition_spec.cr
  spec/integration/player_visibility_test_spec.cr
  spec/integration/ui_fixes_integration_spec.cr
  spec/scenes/transition_spec.cr
  src/core/engine.cr
  src/core/engine/verb_input_system.cr
  src/core/validators/scene_validator.cr
  src/graphics/transitions/shader_loader.cr
  src/graphics/transitions/transition_manager.cr
  src/point_click_engine.cr
  src/scenes/exit_zone.cr.deprecated
  src/scenes/hotspot.cr
  src/scenes/scene_loader.cr
  src/scenes/transition_helper.cr
  src/ui/cursor_manager.cr
Owners: @point-click-engine/maintainers, @point-click-engine/docs-team, @point-click-engine/core-team, @point-click-engine/graphics-team

.github/CODEOWNERS:

# Global owners
* @point-click-engine/maintainers

# Core engine files
/src/core/ @point-click-engine/core-team
/src/point_click_engine.cr @point-click-engine/core-team

# Graphics and rendering
/src/graphics/ @point-click-engine/graphics-team

# Character system
/src/characters/ @point-click-engine/gameplay-team

# Documentation
*.md @point-click-engine/docs-team
/docs/ @point-click-engine/docs-team

# CI/CD and GitHub configuration
/.github/ @point-click-engine/devops-team

# Tests
/spec/ @point-click-engine/maintainers

# Build configuration
/shard.yml @point-click-engine/maintainers
