Repository point-click-engine/engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @point-click-engine/maintainers, @point-click-engine/core-team, @point-click-engine/graphics-team, @point-click-engine/gameplay-team, @point-click-engine/docs-team, @point-click-engine/devops-team

fixes
  CHANGELOG.md
  README.md
  crystal_mystery/scenes/garden.yaml
  crystal_mystery/scenes/laboratory.yaml
  crystal_mystery/scenes/library.yaml
  docs/transition_duration_config.md
  docs/user-guide/YAML_FORMATS.md
  spec/animation/animation_controller_spec.cr
  spec/archive_integration_spec.cr
  spec/asset_loader_spec.cr
  spec/asset_manager_spec.cr
  spec/core/engine/auto_save_spec.cr
  spec/core/engine_dialog_spec.cr
  spec/core/engine_manager_integration_spec.cr
  spec/core/engine_save_load_spec.cr
  spec/core/game_config_spec.cr
  spec/core/game_state_manager_spec.cr
  spec/core/preflight_check_spec.cr
  spec/core/renderer_registration_spec.cr
  spec/core/scene_manager_spec.cr
  spec/core/validators/asset_validator_spec.cr
  spec/core/validators/config_validator_spec.cr
  spec/core/validators/scene_validator_spec.cr
  spec/dialogue/dialogue_comprehensive_spec.cr
  spec/documentation/renderer_fixes_summary_spec.cr
  spec/graphics/shaders/shader_helpers_spec.cr
  spec/integration/door_transition_spec.cr
  spec/integration/player_visibility_test_spec.cr
  spec/localization/localization_manager_spec.cr
  spec/quests/quest_edge_cases_spec.cr
  spec/saveload/save_system_spec.cr
  spec/scene_management/scene_stress_spec.cr
  spec/scenes/scene_spec.cr
  spec/scenes/transition_helper_spec.cr
  spec/scenes_spec.cr
  spec/ui/menu_system_spec.cr
  spec/ui/ui_manager_spec.cr
  spec/ui/verb_coin_spec.cr
  src/scenes/scene.cr
  src/scenes/transition_helper.cr
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers

new specs
  CHANGELOG.md
  README.md
  achievements.yaml
  docs/CRYSTAL_BUG_REPORT.md
  docs/crash_investigation_report.md
  docs/test_suite_crash_investigation.md
  investigation_output.log
  run_all_tests.sh
  run_headless_tests.sh
  run_specs_safely.sh
  spec/core/door_interaction_spec.cr
  spec/integration/door_transition_spec.cr
  spec/memory/memory_leak_spec.cr
  spec/navigation/pathfinding_comprehensive_spec.cr
  spec/navigation/pathfinding_debug_spec.cr
  spec/navigation/pathfinding_wall_test_spec.cr
  spec/scenes/transition_spec.cr
  spec/scenes/walkable_area_spec.cr
  spec/spec_helper.cr
  spec/support/resource_cleanup.cr
  spec/ui/floating_text_spec.cr
  spec/ui/ui_manager_spec.cr
  src/audio/sound_system.cr
  src/core/simple_resource_manager.cr
  src/navigation/pathfinding.cr
  src/ui/dialog_manager.cr
  src/ui/floating_text.cr
  test_comprehensive.sh
  test_results.log
  test_run_summary.md
  test_yaml_parse.cr
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers, @point-click-engine/core-team

wip
  achievements.yaml
  docs/coordinate_systems.md
  docs/movement_system_architecture.md
  spec/characters/movement_controller_comprehensive_spec.cr
  spec/core/texture_independence_spec.cr
  spec/navigation/pathfinding_integration_spec.cr
  src/characters/movement_controller.cr
  src/characters/player.cr
  src/core/enhanced_preflight_check.cr
  src/core/game_constants.cr
  src/navigation/pathfinding.cr
Owners: @point-click-engine/maintainers, @point-click-engine/docs-team, @point-click-engine/gameplay-team, @point-click-engine/core-team

lots of things working
  spec/character_movement_debug_spec.cr
  spec/character_movement_with_verb_spec.cr
  spec/ui/menu_system_spec.cr
  src/audio/sound_system.cr
  src/characters/player.cr
  src/core/engine.cr
  src/core/engine/system_manager.cr
  src/core/engine/verb_input_system.cr
  src/core/game_config.cr
  src/core/scene_manager.cr
  src/scenes/scene.cr
  src/ui/menu_renderer.cr
Owners: @point-click-engine/maintainers, @point-click-engine/gameplay-team, @point-click-engine/core-team

fixes,makes refacto works out
  crystal_mystery/dialogs/scientist_dialog.yaml
  spec/examples/minimal_game_spec.cr
  spec/navigation_initialization_spec.cr
  spec/pathfinding_coordinate_spec.cr
  src/core/engine.cr
  src/scenes/navigation_manager.cr
  src/scenes/scene.cr
  src/scenes/scene_loader.cr
Owners: @point-click-engine/maintainers, @point-click-engine/core-team

sound fixed
  build.sh
  run.sh
  spec/audio/sound_system_spec.cr
  src/audio/music_manager.cr
  src/audio/sound_effect_manager.cr
  src/audio/sound_system.cr
  src/audio/volume_controller.cr
  src/core/engine.cr
  src/core/engine/system_manager.cr
  src/core/game_config.cr
  src/scripting/event_system.cr
Owners: @point-click-engine/maintainers, @point-click-engine/core-team

sound system renaming
  spec/audio/audio_manager_spec.cr
  src/audio.cr
  src/audio/audio_manager.cr
  src/core/engine/system_manager.cr
  src/core/engine/verb_input_system.cr
  src/point_click_engine.cr
Owners: @point-click-engine/maintainers, @point-click-engine/core-team

fix transitions
  src/core/engine.cr
  src/core/engine/render_coordinator.cr
  src/core/engine/verb_input_system.cr
  src/graphics/transitions/transition_manager.cr
  src/scenes/transition_helper.cr
Owners: @point-click-engine/core-team, @point-click-engine/graphics-team, @point-click-engine/maintainers

camera
  docs/ARCHITECTURE_OVERVIEW.md
  docs/COMPONENT_REFERENCE.md
  docs/DEVELOPER_QUICK_START.md
  docs/features/camera_system.md
  docs/user-guide/QUICK_REFERENCE.md
  engine_test_config.yaml
  examples/camera_effects_demo.cr
  point_click_engine
  scenes/intro.yaml
  spec/audio/audio_manager_spec.cr
  spec/character_movement_debug_spec.cr
  spec/character_movement_with_verb_spec.cr
  spec/core/camera_manager_spec.cr
  spec/core/game_config_spec.cr
  spec/navigation_initialization_spec.cr
  spec/pathfinding_coordinate_spec.cr
  spec/ui/menu_system_spec.cr
  src/core/camera_manager.cr
  src/core/engine.cr
  src/core/engine/input_handler.cr
  src/core/engine/system_manager.cr
  src/core/engine/verb_input_system.cr
  src/core/game_config.cr
  src/core/interfaces.cr
  src/graphics/camera.cr
  src/graphics/transitions/transition_manager.cr
  src/point_click_engine.cr
  src/scenes/scene.cr
  ui_test_config.yaml
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers, @point-click-engine/core-team, @point-click-engine/graphics-team

camera effect. shake, baby shake
  crystal_mystery/dialogs/butler_dialog.yaml
  spec/core/camera_manager_spec.cr
  src/core/camera_manager.cr
  src/graphics/camera.cr
  src/scripting/script_engine.cr
Owners: @point-click-engine/maintainers, @point-click-engine/core-team, @point-click-engine/graphics-team

wip
  camera_refactor_plan.md
  crystal_mystery/dialogs/butler_dialog.yaml
  src/core/camera_effects/camera_effect.cr
  src/core/camera_effects/camera_enums.cr
  src/core/camera_effects/camera_state.cr
  src/core/camera_effects/follow_effect.cr
  src/core/camera_effects/pan_effect.cr
  src/core/camera_effects/rotation_effect.cr
  src/core/camera_effects/shake_effect.cr
  src/core/camera_effects/sway_effect.cr
  src/core/camera_effects/zoom_effect.cr
  src/core/camera_manager.cr
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers, @point-click-engine/core-team

format
  src/core/camera_effects/camera_effect.cr
  src/core/camera_effects/camera_enums.cr
  src/core/camera_effects/camera_state.cr
  src/core/camera_effects/follow_effect.cr
  src/core/camera_effects/pan_effect.cr
  src/core/camera_effects/rotation_effect.cr
  src/core/camera_effects/shake_effect.cr
  src/core/camera_effects/sway_effect.cr
  src/core/camera_effects/zoom_effect.cr
  src/core/camera_manager.cr
Owners: @point-click-engine/core-team

wip
  spec/core/camera_manager_spec.cr
  src/core/camera_effects/camera_effect.cr
  src/core/camera_effects/camera_enums.cr
  src/core/camera_effects/camera_state.cr
  src/core/camera_effects/follow_effect.cr
  src/core/camera_effects/pan_effect.cr
  src/core/camera_effects/rotation_effect.cr
  src/core/camera_effects/sway_effect.cr
  src/core/camera_effects/zoom_effect.cr
  src/core/engine.cr
  src/core/engine/system_manager.cr
  src/core/interfaces.cr
  src/core/old_camera_manager.cr
  src/graphics/cameras/camera_effects/camera_effect.cr
  src/graphics/cameras/camera_effects/camera_enums.cr
  src/graphics/cameras/camera_effects/camera_state.cr
  src/graphics/cameras/camera_effects/follow_effect.cr
  src/graphics/cameras/camera_effects/pan_effect.cr
  src/graphics/cameras/camera_effects/rotation_effect.cr
  src/graphics/cameras/camera_effects/shake_effect.cr
  src/graphics/cameras/camera_effects/shake_effect.cr.bak
  src/graphics/cameras/camera_effects/sway_effect.cr
  src/graphics/cameras/camera_effects/zoom_effect.cr
  src/graphics/cameras/camera_manager.cr
  src/point_click_engine.cr
Owners: @point-click-engine/maintainers, @point-click-engine/core-team, @point-click-engine/graphics-team

wip2
  spec/core/camera_manager_spec.cr
  src/graphics/cameras/camera_manager.cr
  src/graphics/cameras/effects/effect.cr
  src/graphics/cameras/effects/enums.cr
  src/graphics/cameras/effects/follow.cr
  src/graphics/cameras/effects/pan.cr
  src/graphics/cameras/effects/rotation.cr
  src/graphics/cameras/effects/shake.cr
  src/graphics/cameras/effects/shake_effect.cr.bak
  src/graphics/cameras/effects/state.cr
  src/graphics/cameras/effects/sway.cr
  src/graphics/cameras/effects/zoom.cr
  src/point_click_engine.cr
Owners: @point-click-engine/maintainers, @point-click-engine/graphics-team, @point-click-engine/core-team

refacto done
  camera_refactor_plan.md
  spec/core/camera_manager_spec.cr
  src/core/interfaces.cr
  src/graphics/cameras/camera_manager.cr
  src/graphics/cameras/effects/effect.cr
  src/graphics/cameras/effects/enums.cr
  src/graphics/cameras/effects/follow.cr
  src/graphics/cameras/effects/pan.cr
  src/graphics/cameras/effects/rotation.cr
  src/graphics/cameras/effects/shake.cr
  src/graphics/cameras/effects/shake_effect.cr.bak
  src/graphics/cameras/effects/sway.cr
  src/graphics/cameras/effects/zoom.cr
  src/graphics/cameras/state.cr
  src/point_click_engine.cr
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers, @point-click-engine/core-team, @point-click-engine/graphics-team

sprites module
  spec/character_animation_spec.cr
  spec/characters/animation_controller_spec.cr
  src/characters/animation_controller.cr
  src/characters/sprite_controller.cr
  src/graphics.cr
  src/graphics/animated_sprite.cr
  src/graphics/sprites/animated.cr
  src/point_click_engine.cr
Owners: @point-click-engine/maintainers, @point-click-engine/gameplay-team, @point-click-engine/graphics-team, @point-click-engine/core-team

better better
  point_click_engine
  src/characters/sprite_controller.cr
  src/core/engine.cr
  src/core/engine/render_coordinator.cr
  src/graphics/effects/camera_effects/movement_effects.cr
  src/graphics/effects/effect_manager.cr
  src/point_click_engine.cr
  src/scenes/transition_helper.cr
  src/scripting/script_engine.cr
  src/ui/floating_dialog.cr
Owners: @point-click-engine/maintainers, @point-click-engine/gameplay-team, @point-click-engine/core-team, @point-click-engine/graphics-team

wip
  crystal_mystery/scenes/laboratory.yaml
  src/core/engine.cr
  src/core/engine/verb_input_system.cr
  src/core/scene_manager.cr
  src/graphics/effects/camera_effects/base_camera_effect.cr
  src/graphics/effects/effect.cr
  src/graphics/effects/effect_manager.cr
  src/graphics/effects/object_effects.cr
  src/graphics/effects/scene_effects/base_scene_effect.cr
  src/graphics/effects/scene_effects/transition_effect.cr
  src/point_click_engine.cr
  src/scenes/scene.cr
  src/scenes/transition_helper.cr
Owners: @point-click-engine/maintainers, @point-click-engine/core-team, @point-click-engine/graphics-team

transisitons working as good as before
  crystal_mystery/scenes/garden.yaml
  crystal_mystery/scenes/laboratory.yaml
  crystal_mystery/scenes/library.yaml
  src/core/engine.cr
  src/core/scene_manager.cr
  src/graphics/effects/effect_manager.cr
  src/graphics/effects/scene_effects/transition_effect.cr
Owners: @point-click-engine/maintainers, @point-click-engine/core-team, @point-click-engine/graphics-team

shaders baby
  SHADER_MIGRATION_PLAN.md
  src/graphics/effects/effect.cr
  src/graphics/effects/object_effects/shader/color_shift_shader.cr
  src/graphics/effects/object_effects/shader/dissolve_shader.cr
  src/graphics/effects/object_effects/shader/float_shader.cr
  src/graphics/effects/object_effects/shader/highlight_shader.cr
  src/graphics/effects/object_effects/shader/pulse_shader.cr
  src/graphics/effects/object_effects/shader/shake_shader.cr
  src/graphics/effects/shader_effect.cr
  src/graphics/effects/shader_library.cr
Owners: @point-click-engine/docs-team, @point-click-engine/graphics-team

New shader system
  SHADER_MIGRATION_PLAN.md
  examples/shader_effects_test.cr
  src/graphics/effects/object_effects.cr
  src/graphics/effects/object_effects/shader_object_factory.cr
  src/graphics/effects/post_processing.cr
  src/graphics/effects/post_processing/blur_shader.cr
  src/graphics/effects/post_processing/distortion_shader.cr
  src/graphics/effects/post_processing/glow_shader.cr
  src/graphics/effects/post_processing/post_processing_factory.cr
  src/graphics/effects/scene_effects/base_scene_effect.cr
  src/graphics/effects/scene_effects/scene_effect_factory.cr
  src/graphics/effects/scene_effects/shader/darkness_shader.cr
  src/graphics/effects/scene_effects/shader/fog_shader.cr
  src/graphics/effects/scene_effects/shader/rain_shader.cr
  src/graphics/effects/scene_effects/shader/underwater_shader.cr
  src/graphics/effects/shader_effect.cr
  src/graphics/graphics.cr
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers, @point-click-engine/graphics-team

cleanup and new specs
  SHADER_MIGRATION_PLAN.md
  docs/SHADER_EFFECTS_GUIDE.md
  examples/shader_effects_showcase.cr
  examples/test_graphics.cr
  examples/test_graphics_minimal.cr
  examples/test_graphics_simple.cr
  spec/graphics/effects/object_effects_spec.cr
  spec/graphics/effects/post_processing_spec.cr
  spec/graphics/effects/scene_effects_spec.cr
  spec/graphics/effects/shader_effect_spec.cr
  src/graphics/effects/README.md
  src/graphics/effects/scene_effects/scene_effect_factory.cr
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers, @point-click-engine/graphics-team

scene effects working
  crystal_mystery/scenes/garden.yaml
  crystal_mystery/scenes/laboratory.yaml
  crystal_mystery/scenes/library.yaml
  src/core/engine.cr
  src/core/engine/render_coordinator.cr
  src/graphics/effects/effect_manager.cr
  src/graphics/effects/scene_effects/ambient_effects.cr
  src/graphics/effects/scene_effects/scene_effect_factory.cr
  src/graphics/effects/scene_effects/shader/darkness_shader.cr
  src/graphics/effects/scene_effects/shader/fog_shader.cr
  src/graphics/effects/scene_effects/shader/rain_shader.cr
  src/graphics/effects/scene_effects/shader/underwater_shader.cr
  src/scenes/scene.cr
  src/scenes/scene_loader.cr
Owners: @point-click-engine/maintainers, @point-click-engine/core-team, @point-click-engine/graphics-team

working effects
  output.log
  src/core/engine/render_coordinator.cr
  src/graphics/effects/camera_effects/movement_effects.cr
  src/graphics/effects/effect.cr
  src/graphics/effects/effect_manager.cr
  src/graphics/effects/object_effects.cr
  src/graphics/effects/object_effects/shader_object_factory.cr
  src/graphics/effects/particle_effect.cr
  src/graphics/effects/post_processing/post_processing_factory.cr
  src/graphics/effects/scene_effects/base_scene_effect.cr
  src/graphics/effects/scene_effects/scene_effect_factory.cr
  src/graphics/effects/scene_effects/shader/darkness_shader.cr
  src/graphics/effects/scene_effects/shader/fog_shader.cr
  src/graphics/effects/scene_effects/shader/rain_shader.cr
  src/graphics/effects/scene_effects/shader/underwater_shader.cr
  src/graphics/effects/scene_effects/shader_scene_effect.cr
  src/graphics/effects/scene_effects/yaml_effect_config.cr
  src/scenes/scene.cr
  src/scenes/scene_loader.cr
Owners: @point-click-engine/maintainers, @point-click-engine/core-team, @point-click-engine/graphics-team

fixes
  spec/core/engine/engine_scene_lifecycle_spec.cr
  spec/core/engine_integration_spec.cr
  spec/graphics/effects/scene_effects_spec.cr
  spec/graphics/effects/shader_effect_spec.cr
  src/graphics/effects/scene_effects/base_scene_effect.cr
  src/point_click_engine.cr
  src/scenes/transition_helper.cr
Owners: @point-click-engine/maintainers, @point-click-engine/graphics-team, @point-click-engine/core-team

specs fixes
  CLAUDE.md
  achievements.yaml
  bare_minimum.yaml
  game_v1.yaml
  game_v2.yaml
  spec/audio/audio_resource_cache_spec.cr
  spec/audio/audio_system_spec.cr
  spec/audio/music_manager_spec.cr
  spec/audio/sound_effect_manager_spec.cr
  spec/audio/volume_controller_spec.cr
  spec/character_movement_with_verb_spec.cr
  spec/characters/movement_controller_pathfinding_spec.cr
  spec/dialogue/dialogue_comprehensive_spec.cr
  spec/examples/minimal_game_spec.cr
  spec/graphics/effects/object_effects_spec.cr
  spec/graphics/effects/post_processing_spec.cr
  spec/navigation/pathfinding_integration_spec.cr
  spec/scenes/area_walkability_spec.cr
  spec/scenes/transition_system_spec.cr
  spec/scenes/yaml_scene_loading_spec.cr
  spec/scripting/lua_integration_spec.cr
  spec/validators/validator_integration_spec.cr
  src/audio/audio_manager.cr
  src/audio/audio_resource_cache.cr
  src/characters/character_enums.cr
  src/navigation/movement_validator.cr
  src/navigation/navigation_grid.cr
  src/point_click_engine.cr
  src/scenes/hotspot_manager.cr
  src/scenes/navigation_manager.cr
  src/scripting/lua_environment.cr
  test_audio/compressed.ogg
  test_audio/quick_music.ogg
  test_scenes/scene3.yaml
  test_scenes/slow_scene.yaml
  test_scenes/test.yaml
  test_scenes/test_scene.yaml
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers, @point-click-engine/gameplay-team, @point-click-engine/core-team

shader fixes
  docs/SHADER_EFFECTS_GUIDE.md
  docs/developer-guide/GRAPHICS_MODULE_ARCHITECTURE.md
  spec/graphics/effects/post_processing_spec.cr
  spec/graphics/effects/scene_effects_spec.cr
  spec/graphics/effects/shader_effect_spec.cr
  src/graphics/effects/object_effects/shader/highlight_shader.cr
  src/graphics/effects/object_effects/shader_object_factory.cr
  src/graphics/effects/post_processing/blur_shader.cr
  src/graphics/effects/post_processing/distortion_shader.cr
  src/graphics/effects/post_processing/glow_shader.cr
  src/graphics/effects/post_processing/post_processing_factory.cr
  src/graphics/effects/scene_effects/scene_effect_factory.cr
  src/graphics/effects/scene_effects/shader/darkness_shader.cr
  src/graphics/effects/scene_effects/shader/fog_shader.cr
  src/graphics/effects/scene_effects/shader/rain_shader.cr
  src/graphics/effects/scene_effects/shader/underwater_shader.cr
  src/graphics/effects/scene_effects/shader_scene_effect.cr
  src/graphics/effects/scene_effects/transition_effect.cr
  src/graphics/effects/shader_effect.cr
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers, @point-click-engine/graphics-team

fixes
  crystal_mystery/dialogs/butler_dialog.yaml
  crystal_mystery/dialogs/scientist_dialog.yaml
  crystal_mystery/quests/main_quests.yaml
  crystal_mystery/scenes/garden.yaml
  crystal_mystery/scenes/laboratory.yaml
  crystal_mystery/scenes/library.yaml
  crystal_mystery/scripts/garden.lua
  crystal_mystery/scripts/laboratory.lua
  crystal_mystery/scripts/library.lua
  src/core/engine/verb_input_system.cr
  src/graphics/sprites/animated_sprite.cr
  src/graphics/sprites/sprite.cr
Owners: @point-click-engine/maintainers, @point-click-engine/core-team, @point-click-engine/graphics-team

plan
  IMPROVEMENT_PLAN.md
Owners: @point-click-engine/docs-team

ready before big refacto
  IMPROVEMENT_PLAN.md
  achievements.yaml
  spec/core/engine/engine_scene_lifecycle_spec.cr
  spec/core/preflight_spawn_check_spec.cr
  spec/core/renderer_registration_spec.cr
  spec/core/simple_preflight_check_spec.cr
  spec/core/validation_integration_spec.cr
  spec/core/validators/performance_validator_spec.cr
  src/audio/audio_manager.cr
  src/audio/music_manager.cr
  src/audio/sound_effect_manager.cr
  src/core/engine/system_manager.cr
  src/core/game_config.cr
  src/core/validation/performance_validation_checker.cr
  src/core/validation/preflight_orchestrator.cr
  src/core/validation/security_validation_checker.cr
  src/core/validation/validation_result.cr
  src/core/validators/config_validator.cr
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers, @point-click-engine/core-team

fixes
  IMPLEMENTATION_CHECKLIST.md
  IMPROVEMENT_PLAN.md
  scene_load_config.yaml
  spec/audio/volume_controller_spec.cr
  spec/core/conditions/condition_parser_spec.cr
  src/assets/asset_loader.cr
  src/assets/asset_manager.cr
  src/audio/ambient_sound_manager.cr
  src/audio/audio_manager.cr
  src/audio/volume_controller.cr
  src/characters/scriptable_character.cr
  src/core/achievement_manager.cr
  src/core/conditions/conditions.cr
  src/core/conditions/validation.cr
  src/core/conditions/validator.cr
  src/core/engine.cr
  src/core/engine/game_builder.cr
  src/core/engine/system_manager.cr
  src/core/events/game_events.cr
  src/core/game_config.cr
  src/core/quest_system.cr
  src/localization/localization_manager.cr
  src/point_click_engine.cr
  src/scenes/conditions.cr
  src/scripting/event_system.cr
  src/scripting/lua_state_manager.cr
  src/scripting/script_engine.cr
  src/tools/validate.cr
  state_test_config.yaml
  ui_test_config.yaml
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers, @point-click-engine/gameplay-team, @point-click-engine/core-team

fixes
  src/core/engine.cr
  src/core/engine/verb_input_system.cr
  src/ui/dialog.cr
Owners: @point-click-engine/core-team, @point-click-engine/maintainers

fixes
  scene_load_config.yaml
  spec/core/input_state_spec.cr
  spec/scenes/scene_script_loading_spec.cr
  spec/scripting/game_state_manager_spec.cr
  spec/scripting/script_engine_spec.cr
  src/core/engine.cr
  src/core/engine/system_manager.cr
  src/core/engine/verb_input_system.cr
  src/core/events/game_events.cr
  src/core/timer_manager.cr
  src/scenes/scene.cr
  src/scenes/scene_loader.cr
  src/scripting/character_script_api.cr
  src/scripting/scene_script_api.cr
  src/scripting/script_engine.cr
Owners: @point-click-engine/maintainers, @point-click-engine/core-team

specs
  spec/core/timer_manager_spec.cr
  spec/scripting/script_engine_spec.cr
  spec/ui/input_dialog_spec.cr
  src/scripting/script_engine.cr
  src/ui/dialog_manager.cr
  src/ui/input_dialog.cr
Owners: @point-click-engine/maintainers

refacto
  achievements.yaml
  src/scripting/audio_script_api.cr
  src/scripting/camera_script_api.cr
  src/scripting/dialog_script_api.cr
  src/scripting/hotspot_script_api.cr
  src/scripting/inventory_script_api.cr
  src/scripting/script_engine.cr
  src/scripting/utility_script_api.cr
Owners: @point-click-engine/maintainers

fixes and cutscenes
  achievements.yaml
  autosave_test_config.yaml
  crystal_mystery/assets/fonts/game_font.ttf
  crystal_mystery/assets/music/garden_theme.ogg
  crystal_mystery/assets/music/main_theme.ogg
  crystal_mystery/cutscenes/intro_sequence.yaml
  crystal_mystery/dialogs/butler_dialog.yaml
  crystal_mystery/dialogs/scientist_dialog.yaml
  crystal_mystery/scenes/library.yaml
  crystal_mystery/scripts/garden.lua
  crystal_mystery/scripts/laboratory.lua
  crystal_mystery/scripts/library.lua
  shader_test_config.yaml
  spec/core/game_config_spec.cr
  spec/cutscenes/cutscene_loader_spec.cr
  src/core/engine.cr
  src/core/game_config.cr
  src/cutscenes/cutscene.cr
  src/cutscenes/cutscene_action.cr
  src/cutscenes/cutscene_loader.cr
  src/cutscenes/cutscene_manager.cr
  src/graphics/effects/scene_effects/ambient_effects.cr
  src/graphics/effects/scene_effects/scene_effect_factory.cr
  src/inventory/item_registry.cr
  src/scripting/inventory_script_api.cr
  src/ui/menu_system.cr
  state_test_config.yaml
  ui_test_config.yaml
Owners: @point-click-engine/maintainers, @point-click-engine/core-team, @point-click-engine/graphics-team

wip fixes
  docs/ARCHITECTURE_OVERVIEW.md
  docs/tools/MIGRATION_GUIDE.md
  docs/user-guide/GAME_FORMAT_SPECIFICATION.md
  docs/user-guide/LUA_SCRIPTING.md
  docs/user-guide/YAML_FORMATS.md
  spec/actions/action_executor_spec.cr
  spec/actions/action_runner_spec.cr
  spec/core/achievement_manager_spec.cr
  spec/core/engine/game_state_integration_spec.cr
  spec/core/renderer_registration_spec.cr
  spec/integration/simple_headless_test_spec.cr
  spec/scenes/yaml_scene_loading_spec.cr
  spec/scripting/script_engine_spec.cr
  src/actions/action_executor.cr
  src/actions/action_loader.cr
  src/actions/action_overlay_manager.cr
  src/actions/action_runner.cr
  src/core/achievement_manager.cr
  src/core/game_config.cr
  src/scenes/scene.cr
  src/scripting/utility_script_api.cr
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers, @point-click-engine/core-team

spec fixes
  docs/developer-guide/FULL_SPEC_SUITE_REMEDIATION_PLAN.md
  spec/character_movement_debug_spec.cr
  spec/core/engine_input_spec.cr
  spec/core/engine_manager_integration_spec.cr
  spec/core/engine_scene_management_spec.cr
  spec/core/preflight/audio_validation_spec.cr
  spec/core/preflight/comprehensive_validation_spec.cr
  spec/core/preflight/development_environment_spec.cr
  spec/core/preflight/dialog_validation_spec.cr
  spec/core/preflight/feature_validation_spec.cr
  spec/core/preflight/localization_validation_spec.cr
  spec/core/preflight/performance_analysis_spec.cr
  spec/core/preflight/player_validation_spec.cr
  spec/core/preflight/scene_validation_spec.cr
  spec/core/preflight/spec_helper.cr
  spec/core/validation_summary_spec.cr
  spec/core/validators/configuration_validator_comprehensive_spec.cr
  spec/core/validators/scene_coordinate_validator_spec.cr
  spec/core/validators/scene_validator_spec.cr
  spec/integration/coordinate_validation_spec.cr
  spec/integration/player_visibility_test_spec.cr
  spec/integration/ui_fixes_integration_spec.cr
  spec/quests/quest_edge_cases_spec.cr
  src/core/engine.cr
  src/core/validators/scene_coordinate_validator.cr
Owners: @point-click-engine/docs-team, @point-click-engine/maintainers, @point-click-engine/core-team

deprecs removal
  shard.yml
  spec/audio/audio_system_spec.cr
  spec/characters/movement_controller_spec.cr
  spec/core/engine/engine_input_coordination_spec.cr
  spec/core/engine/engine_scene_lifecycle_spec.cr
  spec/core/performance_monitor_spec.cr
  spec/dialogue/dialogue_comprehensive_spec.cr
  spec/fuzzing/config_fuzzing_spec.cr
  spec/input/input_handling_comprehensive_spec.cr
  spec/navigation/pathfinding_comprehensive_spec.cr
  spec/navigation/pathfinding_integration_spec.cr
  spec/performance/performance_regression_spec.cr
  spec/quests/quest_edge_cases_spec.cr
  spec/resource_management/resource_simple_spec.cr
  spec/saveload/save_system_spec.cr
  spec/scene_management/scene_stress_spec.cr
  spec/scenes/hotspot_manager_spec.cr
  spec/scenes/navigation_manager_spec.cr
  spec/scripting/lua_integration_spec.cr
  spec/utils/vector_math_spec.cr
  src/core/input_manager.cr
  src/core/performance_monitor.cr
  src/core/render_manager.cr
  src/core/scene_manager.cr
  src/navigation/astar_algorithm.cr
  src/navigation/heuristic_calculator.cr
  src/ui/menu_input_handler.cr
  src/ui/menu_renderer.cr
Owners: @point-click-engine/maintainers, @point-click-engine/core-team

fixes
  spec/actions/action_executor_spec.cr
  src/actions/action_executor.cr
  src/actions/action_overlay_manager.cr
  src/core/engine.cr
  src/core/scene_manager.cr
  src/graphics/effects/effect_manager.cr
  src/graphics/effects/scene_effects/ambient_effects.cr
  src/scenes/scene.cr
Owners: @point-click-engine/maintainers, @point-click-engine/core-team, @point-click-engine/graphics-team

.github/CODEOWNERS:

# Global owners
* @point-click-engine/maintainers

# Core engine files
/src/core/ @point-click-engine/core-team
/src/point_click_engine.cr @point-click-engine/core-team

# Graphics and rendering
/src/graphics/ @point-click-engine/graphics-team

# Character system
/src/characters/ @point-click-engine/gameplay-team

# Documentation
*.md @point-click-engine/docs-team
/docs/ @point-click-engine/docs-team

# CI/CD and GitHub configuration
/.github/ @point-click-engine/devops-team

# Tests
/spec/ @point-click-engine/maintainers

# Build configuration
/shard.yml @point-click-engine/maintainers
